@import url('../V1Registro/v1registro.module.css');
.cntV3Verificacion {
    display: flex;
    align-items: stretch;
    height:100%;
    min-height: 700px;
    position: relative;
    
}

.cntFormulario {
    position: relative;
}
.Lineas {
    position: absolute;
    top: 0;
    z-index: 1;
}


.cntVerificacion {

    /* background-image: linear-gradient(166deg, rgb(11, 50, 182, 0.01) 0%, rgb(11, 164, 182, 0.3) 100%); */
    color: rgb(70, 69, 69);
    flex: 1 1 50%;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.cntLogo {
    margin-top: 3rem;
    min-width: 40%;
}

.form {
    display: flex;
    flex-direction: column;
}

.cntInputs {
    display: flex;
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
    position: relative;
    
    
}
.error {
    margin-bottom: 0rem;
    text-align: center;
    color: #ec3e3e;
    font-size: 0.8rem;
    transform: translateY(1.25rem);
    display: block;   
}
.inputs {
    appearance: none;
    border: 1px solid #5981c6;
    border-radius: 6px;
    margin: .25rem;
    width: 1.5rem;
    height: 2.25rem;
    text-align: center;
    font-weight: 800;
    color: rgb(88, 88, 88);
}

.timerExp {
    text-align: center;
        
}
.reenviar {
appearance: none;
outline: none;
border: none;
margin: 0.5rem 1rem;
padding: 0.5rem 1.5rem;
border-radius: 3rem;
}

.timerWrap {
    position: absolute;
    bottom: -3.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(88, 88, 88);
}

.timer {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #0c5478;
  text-align: center;
  font-weight: 500;
}

.horaLocal {
  font-size: 0.85rem;
  color: #777;
  text-align: center;
  margin-top: 4px;
}

.cntBoton {
    margin: 2rem auto;
    width: 100%;
    text-align: center;

}

.reenviar {
    color: #5981c6;
    text-decoration: underline;
    cursor: pointer;
}

.reenviarWrap {
    margin-top: 1rem;
}

.derechosPie {
    margin-top: 3rem;
}


@media (max-width: 950px) {

    .cntVerificacion {

        padding-top: 3rem;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .cntInputs {
        display: flex;
        width: 100%;
        margin: 2rem auto;
    }

    .inputs {
        appearance: none;
        border: 1px solid #5981c6;
        border-radius: 6px;
        margin: .25rem;
        width: 1.5rem;
        height: 2.25rem;


    }

    .cntBoton {
        margin: 0 auto;
        width: 100%;
        text-align: center;

    }

    .reenviar {
        color: #5981c6;
        text-decoration: underline;
        cursor: pointer;
    }

}