@import url('../V1Registro/v1registro.module.css');

.cntV4ConfExito {
  display: flex;
    align-items: stretch;
    min-height: 100vh;
    height: auto;
    overflow-y: hidden;
    position: relative;
}


.cntFormulario {
  position: relative;
  justify-content: start;
  
}


.cntConfExito {
  /* background-image: linear-gradient(166deg, rgb(11, 50, 182, 0.01) 0%, rgb(11, 164, 182, 0.3) 100%); */
  
  flex: 1 1 50%;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  & > :nth-child(3) {
    width: 80%;
    text-align: center;
  }
}

.cntPaloma{
margin: 3rem auto;
}


.cntLogo {
  
    margin-top: 3rem;
    min-width: 40%;
    text-align: center;
    
}






