/* src\pages\SaludFisica\PestañasFisica.module.css */
.PestañasFisica {
  border: 1px dashed transparent;
  border-radius: 1rem;
  margin: 1rem auto;
  min-height: 80vh;
  min-width: 30.75rem;
  height: auto;
  /* background-color: white; */
  box-shadow: 0 6px 16px rgba(31, 41, 55, .06);

  &>h3 {
    margin: 3rem;
    font-size: 1.75rem;
  }
}

.cntBotones {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid #ACCCEB; */
  border-radius: .1rem;
  gap: 0.75rem;

}

.tabBtn {
  appearance: none;
  outline: none;
  /* border: 1px solid lightblue; */
  border-radius: 1rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: clamp(0.875rem, 1rem + 1rem, 1rem);
  text-wrap: nowrap;
  width: 11.25rem;
  box-shadow: 0 6px 16px rgba(31, 41, 55, .06);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 20px rgba(31, 41, 55, .22);
  }
}

.tabBtnActiva {
  /* puedes ajustar estos valores a tu paleta */
  /* background-color: white; */
  color: #007CBA;
  font-weight: 600;
  border-color: #007CBA;
  border-width: 0.2rem;
}

@media (max-width: 600px) {
  .PestañasFisica {
    min-width: auto;
    box-shadow: none;

    & > :nth-child(1) {
      margin: 1rem auto;
      text-align: center;
    }
  }
}