.cntSwitch {
  position: relative;
  width: 45%;
  height: 2.5rem;
  margin: 1rem auto 3rem auto;
  
  background: #fff;        /* pista */
  border-radius: 3rem;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.14) inset ;
}

/* -------- checkbox oculto -------- */
.input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;                 /* por encima del slider */
}

/* -------- deslizador -------- */
.slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #007CBA;        /* color activo */
  border-radius: 3rem;
  transition: left 0.25s;
  z-index: 1;
}

/* Mueve a la derecha cuando está check */
.input:checked + .slider {
  left: 50%;
}

/* -------- etiquetas -------- */
.lbl {
  flex: 1;
  text-align: center;
  transition: color 0.25s;
  z-index: 3;                 /* encima del slider */
}

/* Colores por defecto (Paciente activo) */
.lblPaciente { color: #fff; }
.lblSalud    { color: #cecece; }

/* Cambia colores cuando check → Personal activo */
.input:checked ~ .lblPaciente { 
  color: #cecece;
    
}
.input:checked ~ .lblSalud    { color: #fff; }

