.RangoFrecuencias {
  margin: 0rem auto;
  padding: 1rem;
  width: 440px;
  border: 1px solid #ACCCEB;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* box-shadow: 0 6px 16px rgba(31, 41, 55, .06); */
  background-color: white;
}

.txt {
  text-align: center;
  & > :nth-child(1) {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    
  }
  & > :nth-child(2) {
    font-weight: bold;
  }

  
}
.ppm {
  font-weight: normal;
}
@media (max-width: 600px) {
  .RangoFrecuencias {
  margin: 1rem 0;
  padding: 0;
  width: calc(85vw - 3rem);
  border: none;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  box-shadow:none;
  /* background-color: white; */
}
}