/* .RegistroAlertas {
  margin: 1rem auto;
  width: 27.5rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb ;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 6px 16px rgba(31, 41, 55, .06);
}

.rango {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 0.75rem;

} */


.RegistroAlertas {
  margin: 1rem auto;
  padding: 1rem 0;
  width: 27.5rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb ;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 6px 16px rgba(31, 41, 55, .06);
  /* background-color: white; */
}

.container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.tit {
  width: 80%;
  margin-top: 0.5rem;
  font-weight: bold;
  text-align: left;
}

.cntValores {
  font-size: 0.85rem;
  text-align: end;
  line-height: 1.7;
  &>:nth-child(1),
  &>:nth-child(3) {
    color: red;
  }
  &>:nth-child(2) {
    color: #62D247;
  }
}

.cntDescrip {
  font-size: 0.85rem;
  text-align: end;
  line-height: 1.7;
}

.icos {
  display: flex;
  flex-direction: column;
}