.tit {
  font-weight: var(--peso700);
  font-family: var(--font-inter);
}
.calendario {
}


@media (max-width: 600px) {
  
  .cntFormulario {
    justify-content: center;
    /* border: 1px dashed red; */
    margin: 0 auto;
  }
}