.cntTarjetasMedicamentos {
  width: fit-content;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding: 0 0.5rem;
  
  
}
