
.cntTextoPrincipal {
    margin: 1.5rem auto;
    width: fit-content;
}

.textoPrincipal {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 800;
    font-family: var(--font-txt);
    font-size: var(--font-resp-sbt);
    
}


