@import url('../../../styles/index.css');
.cntTextoPrincipal {
    margin: 1.5rem auto;
    width: fit-content;
}

.textoPrincipal {
    display: inline-block;
    text-align: center;
    width: 100%;
    
    font-family: var(--font-tit);
    font-size: var(--font-resp-sbt);
    
}


