/* @import url("../../GlucosaEnSangre/ModalDescargaGlucosa.module.css"); */
@import url("../../Oxigenacion/ModalDescargaOxigenacion.module.css");




@media print {
  :global(body.print-hr) * {
    visibility: hidden !important;
  }

  :global(body.print-hr) :global(.printArea),
  :global(body.print-hr) :global(.printArea) * {
    visibility: visible !important;
  }

  :global(body.print-hr) :global(.printArea) {
    position: fixed !important;
    inset: 0 !important;
    background: #fff !important;
    overflow: visible !important;
  }

  @page {
    margin: 12mm;
  }
}

/* ===== FIX CLICK HEADER (muy común cuando hay @import de otros modales) ===== */
.headerModal {
  position: relative;
  z-index: 50;
  pointer-events: auto;
}

.titulos {
  position: relative;
  z-index: 51;
  pointer-events: auto;
}

.btnVolver,
.cerrar {
  position: relative;
  z-index: 52;
  pointer-events: auto !important;
}

/* Por si algún import metió algo raro */
.modal {
  position: fixed; /* reafirma */
  z-index: 10000;
  pointer-events: auto;
}
