.wrapper {
    position: relative;
    display: inline-block;
}

/* La pastillita */
.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    min-width: 210px;
    padding: 0.45rem 2.1rem 0.45rem 0.75rem;

    border-radius: 999px;
    border: 1px solid #d1d5db;
    background: #ffffff;

    /* box-shadow: 0 10px 24px rgba(15, 23, 42, 0.12); */

    font-size: 0.75rem;
    color: #111827;
    cursor: pointer;

    outline: none;
}

.select:focus {
    outline: none !important;
    border-color: var(--color-prn, #007cba);
    border: none;
}

/* Flecha (arriba) */
.arrow {
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    top: calc(50% + 0.10rem);
    transform: translateY(-50%) rotate(180deg);
    font-size: 2rem;
    color: #6b7280;
}

/* Quita el borde negro del menú desplegado (Chrome/Edge) */
select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background: transparent;
}

select::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}

/* Quitar borde de enfoque interno */
select:focus {
  outline: none;
}

/* Quitar el borde del “menú” nativo */
select:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
