.VistaFisica {
  /* border: 1px dashed red; */
  & > h3 {font-size: 1rem; margin-bottom: 0.25rem;}
  & > p  {font-size: .75rem;}  
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  display: flex;
  
}

.cntDin {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0rem auto;
}
.cntStd {
  flex: 1;
  padding: 1rem;
  
}

.cntCmp {
  width: 100%;
  max-height: 15.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

@media (max-width: 864px) {
  .cntDin {
    flex-direction: column;
    gap: 1.15rem;
    
  }

  .cntCmp {
    max-height: none;
    margin-top: 1rem;
  }

  .VistaFisica {
    width: 100%;
    & > h3, & > p {
      text-align: center;
    }
    
  }
  
}
