.VistaFisica {
  /* border: 1px dashed red; */
  & > h3 {font-size: 1rem; margin-bottom: 0.25rem;}
  & > p  {font-size: .75rem;}  
}

.cntDin {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.cntStd {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
  
}

.cntCmp {
  width: 24.5rem;
  max-height: 19.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}