@import url('../V1Registro/v1registro.module.css');

.cntV5ACompletarIne {
  display: flex;
    align-items: stretch;
    min-height: 100vh;
    height: auto;

    position: relative;
}

.cntFormulario {
  position: relative;
  justify-content: start;
  align-items: center;
  width: 80%;
  /* border: 2px dashed red; */
}


.cntLogo {
  
  text-align: center;
  align-items: center;
  min-width: 40%;
}

.cntTexto {
  width: 70%;
  /* border: 2px dashed; */
  
}



