.card {
  --alto-area-grafica: 23rem;
  border: 0.0625rem solid var(--borde);
  border-radius: 1.125rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 653px;
  width: 47.5rem;
  min-width: 27.5rem;
  min-height: 362px;
  padding: 1rem 1rem 0.9rem;
  display: grid;
  grid-template-rows: var(--alto-area-grafica) auto auto;
  row-gap: 0.3rem;
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
}

.titGraf {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: var(--font-inter);
  font-weight: var(--peso700);
  font-size: var(--font16);
}

.chartWrap {
  width: 100%;
  padding: 2rem;
  min-height: var(--alto-area-grafica);
  
}

.etiquetaEjeX {
  margin: 0;
  text-align: center;
  color: #a3a4a6;
  font-size: var(--font14);
  line-height: 1.1;
  transform: translateY(-2rem);
}

.etiquetaEjeY {
  position: absolute;
  top: 8rem;
  left: -2rem;
  color: #a3a4a6;
  transform: rotate(-90deg);
  font-size: var(--font14);
}

.XAxis  {
  font-size: var(--font12);
  transform: translateX(-0.35rem);
  margin: 0;
}

.descripcion {
  margin: 0 auto;
  width: min(100%, 60rem);
  text-align: left;
  color:#a3a4a6;
  font-size: var(--font14);
  line-height: 1.25;
}



@media (max-width: 700px) {
  .card {
    min-width: 100%;
    min-height: 25rem;
    padding: 0.85rem 0.85rem 0.85rem;
  }

  .etiquetaEjeX {
    font-size: 1rem;
    margin: 0;
    /* border: 1px dashed red; */
  }

  .descripcion {
    font-size: 0.9rem;
  }
}
