.ComparacionSemanalOxigeno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem auto;
  width: 27.5rem;
  height: 6.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 6px 16px rgba(31, 41, 55, 0.06);
  /* background-color: white; */
}

.ComparacionSemanalOxigeno > :nth-child(1) {
  width: 80%;
  font-weight: 800;
  text-align: left;
}

.info {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
  font-size: 0.75rem;
  line-height: 1.8;
}

.info > :nth-child(2),
.info > :nth-child(3) {
  text-align: center;
}

.sub {
  font-size: 0.5rem;
  vertical-align: sub;
}

.valor {
  font-weight: bold;
}

@media (max-width: 600px) {
  .ComparacionSemanalOxigeno {
    & > :nth-child(1) {
      font-size: 1rem;
      text-align: center;
    }
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    & > .info {
      font-size: 1rem;
      align-items: center;
      flex-direction: column;
      & > :nth-child(1),
      & > :nth-child(2) {
        text-align: center;
      }
    }
  }
}
