.TarjetaNoticias {
  margin: 0rem auto;
  width: 36.5rem;
  height: 28.625rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  
}

.cntImg {
  width: 100%;
  height: 19.5em;
  overflow: hidden;
  & > img {
    width: 150%;
    
  }
}

.cntInfo {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 1rem;
  padding: 1rem;
}