:root{
  --track-h: 0.375rem;    /* 6px */
  --thumb-d: 1.125rem;    /* 18px */
  --tick: 0.5rem;         /* 8px */

  --track: #d1d5db;
  --fill:  #0b1b4a;
  --thumb: #0b1b4a;
  --tick-inactive: #d1d5db;
  --tick-active:   #0b1b4a;
}

.slider{
  position: relative;
  width: 100%;
  padding: 0.625rem 0 1.375rem; /* 10px arriba, 22px abajo */
  overflow: hidden;
}

.range{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--track-h);
  border-radius: 999px;
  outline: none;
  position: relative;
  z-index: 1;
}

/* track (WebKit) */
.range::-webkit-slider-runnable-track{
  height: var(--track-h);
  background: transparent;
  border-radius: 999px;
}

/* thumb (WebKit) */
.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: var(--thumb-d);
  height: var(--thumb-d);
  border-radius: 50%;
  background: #fff;
  border: 0.1875rem solid var(--thumb); /* 3px */
  margin-top: calc((var(--track-h) - var(--thumb-d)) / 2);
  cursor: pointer;
}

/* Firefox */
.range::-moz-range-track{
  height: var(--track-h);
  background: transparent;
  border: none;
}
.range::-moz-range-thumb{
  width: var(--thumb-d);
  height: var(--thumb-d);
  border-radius: 50%;
  background: #fff;
  border: 0.1875rem solid var(--thumb);
  cursor: pointer;
}
.range::-moz-range-progress{
  height: var(--track-h);
  background: transparent;
}

/* Marcas */
.slider::before,
.slider::after{
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  top: calc((var(--thumb-d) - var(--tick)) / 2);
  height: var(--tick);
  background-size: calc(100% / (var(--steps) - 1)) 100%;
  background-repeat: repeat-x;
  background-position: left center;
  transform: translateY(1.05rem);
}

.slider::before{
  right: 0;
  background-image: radial-gradient(circle, var(--tick-inactive) calc(var(--tick)/2), transparent calc(var(--tick)/2));
}

/* .slider::after{
  width: var(--pct);
  background-image: radial-gradient(circle, var(--tick-active) calc(var(--tick)/2), transparent calc(var(--tick)/2));
} */

/* Halo */
/* .halo{
  position: absolute;
  left: var(--pct);
  top: calc(var(--thumb-d) / 2);
  transform: translate(-50%, -50%);
  width: calc(var(--tick) + 0.5rem);
  height: calc(var(--tick) + 0.5rem);
  border-radius: 50%;
  border: 0.125rem solid var(--fill);
  background: transparent;
  pointer-events: none;
  z-index: 2;
  transform: translate(-1.05rem, 0.5rem);
} */

/* Labels */
.labels{
  margin-top: 0.625rem; 
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;   
  color: #0f172a;
  user-select: none;
  font-weight: bold;
}
