.wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.seccSuperior {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.cntMono {
  /* border: 1px solid #ACCCEB; */
  width: 58.25rem;
  min-width: 54rem;
  height: 35.5rem;
  /* background-color: white; */
  position: relative;
  border-radius: 0.8vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;

  & .cuadro {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 8rem;
  }

  & .mancha {
    position: absolute;
    width: 22.375;
    top: 25%;
    left: 3%;
    opacity: 0.3;

  }

  & .cntImgMono {
    /* border: 1px dashed darkgoldenrod; */
    width: 20vw;
    height: 100%;
    
    z-index: 1;
    text-align: center;

    &>img {
      margin-top: 0rem;
      width: 15.5rem;
    }
  }
}

.cntPie {
  width: 10%;
  /* box-shadow: 0 6px 16px rgba(31, 41, 55, .06); */
}

.cntCora {
  width: 45%;
  height: 80%;
  /* border: 2px dashed green; */
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

}

.mensaje {
  /* border: 1px solid #ACCCEB; */
  margin: 1rem 0 5.4rem 0;
  border-radius: 1rem;
  width: 19.875rem;
  max-width: 25rem;
  padding: 0.5rem;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(6px);
  font-size: 1rem;
  box-shadow: 0 6px 16px rgba(31, 41, 55, .06);
}



.cntLogros {

  /* border: 1px dashed rgb(255, 196, 0); */
  border-radius: 0.8vw;
}

.hr {
  transform: translateY(14.5rem);
  appearance: none;
  border: none;
  height: 3px;
  box-shadow: 0px 1px 6px rgba(175, 176, 177, 0.2) inset;
}

.cntAccesos {
  display: flex;
  flex-direction: column;

}

.acceso {
  width: 21.3vw;
  height: 5vw;
  border-radius: 0.8vw;
}

.cntAgenda {
  /* border: 1px solid #ACCCEB; */
  width: 31rem;
  min-width: 15rem;
  padding: 0 1rem;
  height: 35.5rem;
  border-radius: 1vw;
  /* background-color: white; */
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;

  position: relative;


  &> :nth-child() {
    transform: translateY(-0.5rem);
  }
}

.agenda {
  position: absolute;
  transform: scale(0.9) translateX(-50%);
  transform-origin: top center;
  width: 100%;
  /* border: 1px dashed rgb(255, 196, 0); */
  
  top: 0;
  left: 50%;


}

.cntTarjetasAlertas {
  margin-top: 16rem;
  zoom: 0.95;

  &>p {
    /* border: 1px dashed rgb(51, 0, 255); */
    margin-left: 0.5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.1rem;
  }
}



.calendarBox {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 1rem;
}

.cntAlertas {
  /* border: 2px dashed green; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 10.5em;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE 10+ */
  scroll-behavior: smooth;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}




.cntCitas {
  z-index: 1;
  /* border: 2px dashed green; */
  height: 9.375em;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE 10+ */
  scroll-behavior: smooth;
  

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

.seccCentro {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* max-width: 90.1rem; */
  gap: 1rem;
  margin: 0;}

.seccInfe {
  /* border: 2px dashed green; */
  margin: 1rem auto;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1rem;
}



@media (max-width: 1360px) {

  .seccSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0rem auto;
    gap: 1rem;
  }
}

@media (max-width: 968px) {

  .seccSuperior {
    /* border: 2px dashed greenyellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 0rem;
  }


  .cntMono {
    width: 100vw;
    height: auto;
    min-width: unset;
    padding: 2rem 0;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;


    &>.cntImgMono {
      width: 100%;
      

      &>img {
        width: 12rem;
        height: auto;
      }
    }
  }

  .cntPie {
    width: 90vw;
    min-width: 360px;
    /* box-shadow: 0 6px 16px rgba(31, 41, 55, .06); */
  }

  & .mancha {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    opacity: 0.3;

  }


  .cntAgenda>p {
    text-align: center;
  }

}

@media (max-width: 460px) {

  .cntMono {
    width: 100vw;
    
    
  }

  .cntImgMono {
    /* border: 2px dashed red; */
    
  }



  .mensaje {
    width: 70vw;
    font-size: 0.85rem;
  }

  .cntLogros {
    /* border: 2px dashed red; */
    width: fit-content;
    transform: scale(0.7);
  }

  .cntTarjetasAlertas {
    & > p {
      text-align: center;
      margin-bottom: 0.25rem;
    }
  }

  .seccCentro {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    flex-wrap: wrap;
    /* max-width: 90.1rem; */
    gap: 1rem;
  }

  .seccInfe {
    /* border: 2px dashed green; */
    margin: 0rem;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

}