@import url('../V1Registro/v1registro.module.css');

.cntV5BCompletarDom {
  display: flex;
    align-items: stretch;
    min-height: 100vh;
    height: auto;

    position: relative;
}


.cntFormulario {
  position: relative;
  justify-content: center;
  width: 50%;
}


.cntLogo {
  text-align: center;
  min-width: 40%;
}

.cntTexto {
  width: 70%;
  /* border: 2px dashed; */

}
