

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* * {
  transition: 1.5s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

@media (prefers-reduced-motion: no-preference) {
  
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}