.TarjetaMedicion {
  margin: 0rem auto;
  width: 9.5rem;
  border: 1px solid lightblue;
  border-radius: 0.75rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  & > img {
    width: 2rem;
    margin-left: 0.5rem;
  }

  & .data {
    display: flex;
    flex-direction: column;
    & > :nth-child(1) {
      font-size: 0.75rem;
    }
    & > :nth-child(2) {
      font-weight: 600;
      & > span {
        font-size: 0.5rem;
        font-weight: 400;
      }
    }
  }
}

.botonTarjeta {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  display: block;      /* Deja que la TarjetaMedicion mande */
  cursor: pointer;
}

.botonTarjeta:focus {
  outline: none;
}