@import url('../../styles/index.css');
@import url('../V1Registro/v1registro.module.css');

.cntV2Confirmacion {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    position: relative;
}


.cntFormulario {
  position: relative;
  justify-content: start;
  padding: 2rem 0;
  
  height: auto
}


.cntLineas {
  position: absolute;
}

.cntTextos {
  margin: 0rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.fieldset {
  display: flex;
  flex-direction: column;

  border: none;

  & > :nth-child(3) {
    margin: 3rem auto;
  }
}

.form {
  margin-top: 2rem;
  width: 90%;
  /* border: 2px dashed red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: var(--font-resp-txt);
  margin-bottom: 0.25rem;
}

.datos {
  color: var(--color-prn);
}
