@import url('../../styles/index.css');

:root {
    --font-resp-tit: clamp(2.75rem, 1.5171rem + 1.444vw, 3.25rem);
    --font-resp-sbt: clamp(2rem, 0.7671rem + 1.444vw, 2.5rem);
    --font-resp-txt: clamp(0.75rem, 0.1336rem + 0.722vw, 1rem);
    --font-resp-075: clamp(0.7rem, -0.8527rem + 1.8773vw, .85rem);
    --font-resp-050: clamp(0.5rem, 0.0069rem + 0.5776vw, 0.7rem);
}

.cntV1Registro {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    height: auto;

    position: relative;
}

.cntBienvenida{
    flex: 1 1 40%;
    width: auto;
    min-width: 0;
    padding: 3rem 5%;
    height: auto;
    position: relative;
    /* background-image: url('./Artboard.png'); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.cntBienvenida::after {
    position: absolute;
    z-index: -2;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:  100%;
    min-width: 320px;
    background-color: rgba(238, 235, 235, 0.85) ;
    filter: opacity(0.6);
    box-shadow: -25px 0px 35px rgba(126, 124, 124, 0.75) inset;
}


.cntSaludo {
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    
    
}

.cntSaludo div > :nth-child(1) {
    font-family: var(--font-tit);
    font-size: var(--font-resp-tit);
    font-weight: 900;
    text-align: center;
    color: var(--color-prn);
    padding-bottom: 2rem;
}

.cntSaludo div > :nth-child(2) {
    font-family: var(--font-tit);
    font-size: var(--font-resp-sbt);
    font-weight: 900;
    text-align: center;
    font-weight: bold;
    color: var(--color-txt);
    padding-bottom: 2rem;
}


.cntSaludo div > :nth-child(3) {
    color: var(--color-txt);
    
}

.cntPasos {
    
    margin: 0 auto;
    
    width: 80%;
    color: var(--color-txt);
    margin-left: 30%;
    
    /* border: 2px dashed; */
}

.elementoPaso {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: 1.2;
    margin-bottom: 3rem;
    padding-top: 0.75rem;
    padding-left: 5%;
    font-size: var(--font-resp-txt);
}

.cntPasos > :nth-child(1)::before, 
.cntPasos > :nth-child(2)::before, 
.cntPasos > :nth-child(3)::before { 
    /* border: 2px dashed; */
    width:  5rem;
    height: 5rem;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    color: var(--color-bco);
    top: 0.75rem;
    left: -3rem;
    z-index: 1;
    font-family: var(--font-tit);

    
}
.cntPasos > :nth-child(1)::after, 
.cntPasos > :nth-child(2)::after 
{ 
    /* border: 2px dashed; */
    content: '';
    width:  7rem;
    height: 7rem;
    position: absolute;
    background-image: url('./paso1.svg');
    background-repeat: no-repeat;
    top: -1rem;
    left: -5rem;
    
}

.cntPasos > :nth-child(3)::after {
    position: absolute;
    content: '';
    width:  3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    top: -0.2rem;
    left: -4.2rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.34);
}

.cntPasos > :nth-child(2)::after, 
.cntPasos > :nth-child(3)::after {
    filter: grayscale(1) brightness(5);
    color: var(--color-txt);
} 
.cntPasos > :nth-child(2)::before, 
.cntPasos > :nth-child(3)::before {
    color: var(--color-txt);
} 



.cntPasos > :nth-child(1)::before {content: '';}
.cntPasos > :nth-child(2)::before {content: '2';}
.cntPasos > :nth-child(3)::before {content: '3';}





.cntBienvenida > :nth-child(5),
.cntBienvenida > :nth-child(6) {
    font-size: 0.8rem;
    margin: 0.5rem;
}

.cntDerechos {
    display: block;
}
.derechos {
    font-size: 0.6rem;
    text-align: center;
}
.derechosPie {
    margin-top: 3rem;
}

.liga {
    text-decoration: underline;
    cursor: pointer;
}


.cntFormulario {
    
    flex: 1 1 50%;
    width: auto;
    min-width: 0;
    padding: 2rem 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 2;
    /* background: linear-gradient(90deg, #fff 0%, #90d0de 100% ); */
    
    
}

.cntLineas {
    /* border: 2px dashed rgb(252, 0, 176); */
    width: 300%;
    height: 100vh;
    position: absolute;
    transform: translateX(-25%);
    z-index: -1;
    pointer-events: none;
    overflow-y: hidden;
    & > img {
        margin-top: 0%;
    }
}

.logoForm {
    margin: 0rem auto;
    width: fit-content;
    
    
    
}




/*  */

.formulario {

    /* border: 2px dashed red; */
    margin: 2.75rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.cntDerechosForm {
    display: none;
}




.cntImput {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 2px dashed; */
    margin-top: 1rem;
    flex-direction: column;
    width: 80%;
    max-width: 30rem;
    
    /* & > label {
        display: none;
    } */

    & input {
        position: relative;
        width: 100%;
        appearance: none;
        border: 1px solid #e7e7e7;
        padding: 0.65rem 1rem;
        border: 0.5px solid darkgray;
        border-radius: 3rem;
        outline: none;
        outline-color: #5981c6;
        
        /* border: 2px dashed; */
        font-size: var(--font-resp-075);
        
    }
    
    & input:focus {
        padding-left: 1rem;
        outline: none;
        outline-color: #5981c6;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.30) inset ;
        
    }

    & input.errorInput {
        border: 2.5px solid #e95757 !important;
        outline: none;
    }

    
}




input::placeholder {
    color: lightgray;
    margin: 0.5rem;
    padding-left: 0.5rem;
}

.error {
    position: absolute;
    bottom: -25%;
    color: #ec3b3b;
    font-size: var(--font-resp-050);
    display: block;
    margin: 0em auto;
    width: 90%;
    text-decoration: none;
    text-align: end;
    
    
}

.errorInput {
    background-color: rgb(252, 236, 236);
    outline: none;
    border: 1px solid #e95757;
    
    outline-color: #e95757 !important;
    
    
}

.formulario > form:nth-child(2) > input {
    padding-left: 4rem;
}

.cntPoliticas {
    /* border: 2px dashed red; */
    margin: 1rem auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    gap: 1rem;

    & > label {
        font-size: var(--font-resp-075);
        text-align: start;
    }
    
}
.cntChk {
    display: flex;
}
.terminos > p,
.iniciarSesion > p {
    width: 100%;
    text-wrap: balance;
    font-size: var(--font-resp-050);
    text-align: left;
    margin-left: 1rem;
    line-height: 1.2;

        

}

.iniciarSesion > p {
    text-align: center;
    margin: 0;
    line-height: 1.6;
}

.boton {
    appearance: none;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    width: 60%;
    background-color: #5981c6;
    color: white;
}

.inputWithBtn {
    position: relative;
    width: 100%;
}

.passwordToggle {
    appearance: none;
    border: none;
    background-color: none;
    position: absolute;
    top:calc(50% - 0.5rem );
    right: 1rem;
    cursor: pointer;
    display: flex;
    filter: opacity(0.5);
}
.ojos {
    width: 1rem;
    filter: opacity(0.6);
}
.label {
    
    display: inline-block;
    width: 100%;
    padding-left: 0.75rem;
    text-align: start;
    transform: translateX(-0.5rem);
    margin-bottom: 0.1rem;
    font-size: var(--font-resp-075);
}

.cntDerechosForm {
    position: absolute;
    /* border: 2px dashed red; */
    display: block;
    width: 100%;
    bottom: 1rem;
}

@media (max-width: 950px) {

    .cntV1Registro {
        
        height: 100vh;
        overflow-y: scroll;
    }

    .cntBienvenida {
        display: none;
    }
    .fondo {
        
        display: none;
    }

    .cntSaludo {
        display: flex;
        flex-direction: column-reverse;
        
        & .cntLogo {
            margin: 0 auto;
            display: inline-block;
            width: 100%;
            max-width: 250px;
            text-align: center;
        }
    }

    .cntDerechosInfo{
        display: none;
    }

    
    .logoForm {
        display: block;
    }

    
    .cntBienvenida > :nth-child(2),
    .cntBienvenida > :nth-child(3),
    .cntBienvenida > :nth-child(6),
    .cntPasos {
        display: none;
        
    }

    .cntBienvenida{
        background-image: none;
        width: 100vh;
        margin: 0 auto;
        padding: 0;
        z-index: 2;
        text-align: center;
    }

    .cntBienvenida::after {
        display: none;
        filter: opacity(0.6);
    }
    .cntV1Registro {
        flex-direction: column;
        width: 100%;
        
        margin: 0;
        padding: 0;
        background-image: url(./Mask.png);
        position: relative;
        z-index: 1;
    }
    
    .imgLogo {
        min-width: 40%;
        
        
    }

    .cntV1Registro::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:  100%;
        background-color: #3b63a8 ;
        filter: opacity(0.6);
        z-index: -1;
    }

    .cntFormulario {
        
        padding: 2rem 0;
        overflow-y: scroll;
    }

    .formulario {
        height: 100vh;
    }


    .formulario {
        width: 90%;
        max-width: 30rem;
        /* color: white; */
        
    }

    .error {
        color: #aa2020;

    }

    .cntImput > input:focus-visible {
        appearance: none;
        outline-color: #5981c6;
    }
    
}