.TarjetaLogro {
  margin: 0vw auto;
  padding: 0.8vw;
  width: 23rem;
  height: 8rem;
  /* border: 1px solid #ACCCEB; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;  
  position: relative;
  box-shadow: 0 6px 16px rgba(31, 41, 55, .16);
}

.inf {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.txt {font-size: 0.65rem;}
.tit {font-weight: bold; font-size: 1rem;}
.inf {text-align: center; font-size: 0.5rem;}
.cta {font-weight: 600; font-size: 1rem;}
.pasos {font-weight: 0.75rem;}

.config {
  position: absolute;
  right: 1.3%;
  top:   4.3%;
  width: 4.5%;
  filter: brightness(4.5);
}

/* .izquierda {
  transform-origin: center;
  animation: hojaPulse 2s ease-in-out infinite;
}

@keyframes hojaPulse {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.5) translateY(-2px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
} */

/* .iconoAnimado {
  animation: flotar 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
} */


@media (max-width: 460px) {
  .TarjetaLogro {
    transform: scale(.9);
  }
} 