.cntProgreso {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progreso {
 /*  position: absolute; */
  transform: rotate(126deg);
  
}

/* .progresoLinea{
  
} */




.bola {
  position: absolute;
  /* border-right: 2px dashed red; */
  width: 290px;
  height: 290px;
  transition: transform 2.95s ease;
  transform: rotate(var(--grados));
}
.bola::before {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color:#007CBA;
  top:  50%;
  left: 12%;
  transform: translate(-50%, -50%);
}