.cntTarjetaUsuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* padding: 1rem; */
    width:100%;
    
    & .imgUsuario {
        border-radius: 50%;
        width:  4.5rem;
        height: 4.5rem;
        object-fit: cover;
    }
    
}

.hola {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 3rem;
}

.datosUsuario {
    /* border: 1px dashed red; */
    display: flex;
    align-items: center;
    gap: 1rem;
}


.idPerfil {
    display: flex;
    align-items: center;
    gap: 2rem;
    & .nombreUsuario {
        font-weight: bold;
    }
    & .estado {
        font-size: 0.8rem;
        color: rgb(235, 141, 141);
    }
}

.imgUsuarioBtn {
    padding: 0 0.5rem;
    

}

