.cntBotonesQs {
    margin: 0.5rem auto;
    width: 100%;
    max-width: 360px;
    border: 1px solid #dcdcdd;
    border-radius: 0.5rem;
    padding: 0.5rem .35rem;
    display: flex;
    align-items: center;
    /* box-shadow: 0 6px 16px rgba(31, 41, 55, .06); */
}

.info {
    width: 90%;
    border-left: 3.5px solid ;
    padding-left: 1rem;
    & :nth-child(2) {
        font-size: 0.7rem;
        color: #b6b8b8;

    }
}

.titulo {
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--color-prn);
}

.cntBarraProgreso {
    display: flex;
    align-items: center;
}

.val {
  
  font-size: 0.5rem;
  width: 20%;
}

.activa {
  box-shadow: 0 0 0 3px #007CBA33;
  transform: scale(1.02);
  transition: all 0.2s ease;
}
