.contenedor {
  width: calc(100% - 3rem);
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  margin: 0;
  color: #28364a;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
